* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

/* General Layout */


#navigation {
    display: flex;
    height:75px;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

#navigation #header-logo {
    width: 70%;
    margin-left: 15%;
}

#navigation #header-link {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 30%;
    margin-right: 10%;
    justify-content: space-around;
    align-items: center;
}



#headsection {
    display: flex;
    width: 100%;
    height: 400px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


#headsection #header-secondary {
    display: flex;
    width: 30%;
    margin-bottom: 50px;
    flex-direction: column;
}

#headsection #header-secondary p{
    margin-top: -20px;
}

#headsection #header-secondary *{
    width: 100%;
    align-items: flex-start;
}

#headsection #header-secondary button{
    width: 80px;
}

#headsection #headimage{
    height: 90%;
    margin-left: 12%;
    margin-bottom: 1%;
    border:#E5E7EB 2px solid;
    border-radius: 10%;
}

/* First section under header (mainLinks) */

#mainLinks {
    display: flex;
    width: auto;
    height: 30%;
    flex-direction: column;
    justify-content: flex-start;
}

#mainLinks h3{
    align-self: center;
    padding: 10px;
}


#mainLinks #linksContainers {
    display: flex;
    width: 100%;
    height: 400px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

#mainLinks #linksContainers div {
   height: 100%; 
   width: 15%;
   display: flex;
   flex-direction: column;
   justify-content: baseline;
   flex-wrap: wrap;
   margin-top: 50px;
}


#mainLinks #linksContainers img {
    border-radius: 10%;
    flex-basis: 200px;
    width: 200px;
    height: 40%;
    object-fit: cover;
}

#mainLinks #linksContainers div span {
    align-self: center;
    margin-top: 10px;
    margin-right: 25px;
    text-align: center;
}

/* Second section under header (mainLinks) */

#secondSection {
    width: 100%;
    height: 400px;
    padding-left: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

#secondSection .reference{
    align-self: flex-end;
    margin-right: 400px;
}

/* Third section under header (mainLinks) */

#thirdSection {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#thirdSection #sectionDiv {
    width: 75%;
    height: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#thirdSection #sectionDiv #textDiv{
    margin-bottom: 10px;
}
    

/* Footer */

footer {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer span{
    width: auto;
    height: 20px;
    margin-bottom: 35px;
}

/* General Color Scheme */

header, 
footer {
    background-color:rgb(183, 71, 42);
}

#mainLinks #thirdsection {
    background-color: rgb(239, 196, 185);
}

#secondSection {
    background-color: rgb(255, 213, 171);
}

#sectionDiv, 
button {
    background-color: rgb(235, 151, 136);
}


/* Text Styles */

* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    color: #E5E7EB;
    padding: 10px;
    border: 0px;
    border-radius: 10%;
}

button:hover{
    color:rgb(183, 71, 42);
}

#textDiv-button {
    border: #E5E7EB 1px solid;
}

header,
footer,
#textDiv {
    color: #F9FAF8
}

#header-logo {
    font-size: 24px;
}


#header-link li a,
#header-secondary {
    color: #E5E7EB;
    font-size: 18px;
}

#header-link li {
    list-style: none;
}

#header-link li a{
    text-decoration: none;
}

#header-link li a:hover{
    text-decoration: underline;
}

#header-main{
    font-size: 48px;
    font-weight: bolder;
}


main {
    color: #1F2937;
}


#information-header {
    font-size: 36px;
    font-weight: bold;
}

#quote-text {
    font-size: 36px;
    font-style: italic;
}

#image_reference {
    font-size: 10px;
    line-height: 1px;
}


#image_reference a{
    color: #939495;;
    text-decoration: none;
}

#image_reference a:hover {
    text-decoration: underline;
}

#secondSection .reference {
    font-weight: bold;
}