* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* General Layout */

header {
    background-color: lightskyblue;
}

#navigation {
    display: flex;
    height:75px;
    width: 100%;
    background-color: burlywood;
    flex-direction: row;
    justify-content: center;
}

#navigation h1 {
    width: 70%;
    margin-left: 10%;
}

#navigation ul {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}

#headsection {
    display: flex;
    width: 100%;
    border: 3px gold dotted;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#headsection div {
    display: flex;
    border: 3px black solid;
    flex-direction: column;
}


/* Font Styles */